<!doctype html>
<html>
    <head>
        <title>RT Demo</title>
    </head>
    <body>
        <ul>
            <li><a href="./">Go Back</a></li>
        </ul>
        <h1>List of all the users</h1>
        <ul id="data_display">
            {% for data_set in data_display %}
                <li>
                    {% for data in data_set %}
                        <p>{{ data }}</p>
                    {% endfor %}
                </li>
                <br>
            {% endfor %}
        </ul>
    </body>
</html>
