<!doctype html>
<html>
    <head>
        <title>RT Demo</title>
    </head>
    <body>
        <form method="GET" action="/display_data">
            <input type="submit" value="See users">
        </form>
        <form method="GET" action="/add_data">
            <input type="submit" value="Add users">
        </form>
        <form method=".GET" action="/delete_data">
            <input type="submit" value="Delete users">
        </form>
        <form method=".GET" action="/edit_data">
            <input type="submit" value="Edit users">
        </form>
    </body>
</html>
